# Data Science Tools and Ecosystem

In [ ]:
# In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
- List popular languages for Data Science
- List popular libraries for Data Science
- List popular tools for Data Science

In [23]:
## Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. Scala
4. Julia
5. Java
6. etc.

SyntaxError: invalid syntax (2887555689.py, line 2)

## Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Keras
6. etc.

## Data Science Tools

| Data Science Tools |
-------------------------
| Jupyter Notebook |
| RStudio |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

#### This a simple arithmetic expression to mutiply then add integers

In [2]:
print((3*4)+5)

17

In [3]:
x=200
hours=x/60
print(hours)

3.3333333333333335

## Author
Tya PURNOMO